#menuBarLink {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin:0
}
#menuBarLink:hover{
    color: rgb(255, 0, 0);
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow:2px 2px 5px white
}